<% @posts.each do |post| %>
	<div id="postListing">
    	<h1><%= link_to post.name, post %></h1>
			<p><%= post.blurb %></p>
    		<p style="float: right; width: 500px;"><%= post.description %></p>
		<%= image_tag(post.pic.url(:large)) if post.pic_file_name.present? %>
	</div>
<% end %>