<div id="pageHeader"><%= image_tag("/assets/abouthead.gif") %></div>
<div id="aboutPage">
	<p>Cathy Jo is a Storyteller, a Comedienne, and a homegrown Michigander.  She thrills both children and adults with her reimagined folktales and original stories from "the great white Up North."  Her quirky humor and flurry of appendages are delightfully entertaining, or, as they say in her native tongue - "a hoot and a half."</p>
	<p>Having told stories for audiences throughout the Midwest and Appalachia, Cathy Jo is delighted to be traveling to Budapest this spring as a featured teller for Hungary's Holnemvolt Fesztivál.  Until then she is enjoying touring and working on her first album, "Muskrats and Hodags."</p>
	<p>Cathy Jo is a member of Tree House Artists and she holds a MA in Storytelling from East Tennessee State University where she wrote, "An Ethnographic Study of the Moth Detroit StorySLAM" and went on to create and produce the first Johnson City Story Slam.  When she isn't bringing old-school storytelling to tykes and hipsters alike, Cathy Jo can be found cheering on the Detroit Red Wings, excelling as a near-professional bridesmaid, and dreaming of maple syrup.</p>
	<%= image_tag("/assets/cj.green.standing400.gif") %>
</div>