/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

	Gray Color: 8e9196
	Blue Color: 929baa
	Peach Color: fac3a5
	Circle Color: edf0f5
 */
body {
	margin: auto;
	padding: 0;
	background: #edf0f5;
	font-family: Arial, Helvetica, sans-serif;
	color: #8e9196;
}
#wrapper {
	width: 1000px;
	margin: auto;
	padding: 0;
	background-color: #edf0f5;
	border: 1px 1px 1px 0px solid #929baa;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
#logo {
	width: 1000px;
	height: 364px;
	background: url('/assets/cathybanner.gif');
}
#mainNav a img {
	margin-right: -4.5px;
	border: none;
}
#mainNav:hover {
	background: none;
}
.login {
	float: right;
	font-size: 12px;
	font-style: italic;
	padding-right: 5px;
}
.login a {
	color: #8e9196;
	font-style: normal;
}
#pageHeader {
	padding-left: 10px;
}
#contentBox {
	width: 970px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border: 1px 1px 1px 0px solid #929baa;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
#contentBox h1 {
	font-weight: normal;
	padding-top: 5px;
}
#contentBox h1 a {
	font-weight: normal;
	text-decoration: none;
	color: #8e9196;
	padding-top: 5px;
}
#contentBox p {
	font-size: small;
}
#contentDescription {
	font-size: small;
	float: right;
	width: 500px;
	padding-right: 5px;
}
#aboutPage {
	width: 970px;
	min-height: 300px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border: 1px 1px 1px 0px solid #929baa;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
#aboutPage h1 {
	font-weight: normal;
	padding-top: 5px;
}
#aboutPage h1 a {
	font-weight: normal;
	text-decoration: none;
	color: #8e9196;
	padding-top: 5px;
}
#aboutPage p {
	font-size: small;
	width: 490px;
	float: right;
}
#aboutPage img {
	padding-left: 10px;
	padding-top: 10px;
}
#leaves {
	width: 400px;
	text-align: center; 
	font-size: small;
}
#leaves a {
	text-decoration: none;
	color: #8e9196;
}
#standing {
	width: 400px;
	float: right;
	margin-top: -285px;
	padding-right: 40px;
	text-align: center;
	font-size: small;
}
#standing a {
	text-decoration: none;
	color: #8e9196;
}
.field {
	padding-bottom: 5px;
}
.field label {
	font-size: 14px;
}
fieldset {
	width: 500px;
	border: 1px solid #8e9196;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
iframe {
	margin-left: 20px;
}
#footer {
	text-align: center;
	border: 1px 1px 1px 0px solid #929baa;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
