/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

	Gray Color: 8e9196
	Blue Color: 929baa
	Peach Color: fac3a5
	Circle Color: edf0f5
 */
body {
	margin: auto;
	padding: 0;
	background: #edf0f5;
	font-family: Arial, Helvetica, sans-serif;
	color: #8e9196;
}
#wrapper {
	width: 1000px;
	margin: auto;
	padding: 0;
	background-color: #edf0f5;
}
#logo {
	width: 1000px;
	height: 364px;
	background: url('/assets/cathybanner.gif');
}
#mainNav a img {
	margin-right: -4.5px;
}
#mainNav:hover {
	background: none;
}
.login {
	float: right;
	font-size: 12px;
	font-style: italic;
	padding-right: 5px;
}
.login a {
	color: #8e9196;
	font-style: normal;
}
#pageHeader {
	padding-left: 10px;
}
#contentBox {
	width: 970px;
	margin: auto;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #fac3a5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 7px 7px 8px rgba(254, 194, 166, 0.5);
	-moz-box-shadow: 7px 7px 8px rgba(254, 194, 166, 0.5);
	box-shadow: 7px 7px 8px rgba(254, 194, 166, 0.5);
}
#contentBox h1 {
	margin-top: 0px;
}
#contentBox h1 a {
	font-weight: normal;
	text-decoration: none;
	color: #8e9196;
}
#contentBox p {
	font-size: 12px;
}
#mediaImages {
	padding-left: 250px;
	float: left;
}
#mediaImages a {
	color: #8e9196;
}
.field {
	padding-bottom: 5px;
}
.field label {
	font-size: 14px;
}
fieldset {
	width: 500px;
	border: 1px solid #8e9196;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.submit input {
}
#footer {
	text-align: center;
}
